/* LOGIN STYLE */
.login{
    top:25%;
    right:35%;
    left:35%;
    position:absolute;
    align-self:center;
}

/* INDEX STYLE */
.carousel-text{
    color: black;
}

#jumbo{
    text-align: center;
    margin-bottom: -1px;
}

#jumbo-h{
    margin-top: 25px;
}

#jumbo-btn{
    margin-bottom: -25px;;
}

#weekly-menu{
    margin-top: -20px;
    text-align: center;
    margin-bottom: 20px;
}

#cara-text{
    top: 40%;
}

#bannerimg{
    opacity: 80%;
}

.recipe-label{
    margin-bottom: -15px;
}

/*RECIPES STYLE */
.recipe {
    width: 300px;
    height: 500px;
    text-decoration: "none";
}

.time {
    font-size: 15px;
}
#foodimg {
    height: 20rem;
}

#whitespace {
    height: 7rem;
}
.allcontainer {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -20%);
}

/* COMMUNITY STYLE */
#view-btn, #post-btn{
    margin-bottom: -25px;;
}

#current-recipe-view{
    text-align: center;
}