/* LOGIN STYLE */
.login{
    top:25%;
    right:35%;
    left:35%;
    position:absolute;
    align-self:center;
}

/* INDEX STYLE */
.carousel-text{
    color: black;
}

#jumbo{
    text-align: center;
    margin-bottom: -1px;
}

#jumbo-h{
    margin-top: 25px;
}

#jumbo-btn{
    margin-bottom: -25px;;
}

#weekly-menu{
    margin-top: -20px;
    text-align: center;
    margin-bottom: 20px;
}

#cara-text{
    top: 40%;
}

/*  */